<img src="/assets/ideia-1.png" class="user-info-picture item-info-centered" width="150" height="150">
<h1 class="item-info-centered margb-15"><%= @user.name %></h1>
<span class="item-info-centered user-info-local">
<% if !@user.city.nil? %>
  <%= @user.city %>
<% end %>
<% if !@user.city.nil? && !@user.region.nil? %>
  <%= ", " %>
<% end %>
<% if !@user.region.nil? %>
  <%= @user.region %>
<% end %>

</span>









<section id="user-info-details" ng-controller="userSingleCtrl">
  <section class="body wrapper">
      <div id="user-info-tabs">
        <header class="user-info-tabs">
          <div class="tab-item tab-item-others" ng-class="{current: currentTab == 0}" ng-click="currentTab = 0">Informações pessoais</div>
          <div class="tab-item tab-item-others" ng-class="{current: currentTab == 1}" ng-click="currentTab = 1">Projetos Criados (142)</div>
          <div class="tab-item tab-item-others" ng-class="{current: currentTab == 2}" ng-click="currentTab = 2">Notificações (142)</div>
        </header>
        <section class="tab-items-body">
            




					<%= render 'form', edit: true, controller: 'users', action: 'update', method: 'patch' %>



          <article class="tab-item" ng-class="{current: currentTab == 2}" >
          <% for i in 0 ... 12 %>
            <div class="investor">
              <img src="assets/images/investors/face-1.jpg" alt="" class="image">
              <h2 class="name">Lise Tyler</h2>
              <p class="line">Investiu R4 250,00</p>
              <p class="line">em 10/03/13 às 12:30:21</p>
              <p class="line">Apoiou 7 projetos até agora</p>
            </div>
          <% end %>
          </article>

        </section>
      </div>
    </section>


</section>

<br><br>

<% if current_user?(@user) %>
  <%= link_to "Apagar conta", @user, method: :delete,
                                data: { confirm: "Você tem certeza que deseja apagar sua conta? Todos os seus dados serão perdidos." } %>
<% end %>

<br><br>
<%#= link_to 'Voltar', '/' %>

