<section id="new-proj-page">
<%= form_for @idea, :html => {:multipart => true} do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <div>

    <% unless params[:all] %>

      <%= f.hidden_field :current_step, value: @idea.current_step %>

      <%= render "ideas/idea_steps/page#{@idea.current_step + 1}", f: f %>

    <% else %>

      <%# all the fields on one page... %>
      <%= hidden_field_tag :all, 1 %>
      <%= render "ideas/idea_steps/page1", f: f %>
      <%= render "ideas/idea_steps/page2", f: f %>

    <% end %>



  </div>
  
  <div class="body wrapper">
    <div id="terms-of-service">
      
      <% unless @idea.id.blank? %>
        <script> toggle_checkbox_and_element('terms_of_use', 'save_button'); </script>
      <% end %>

      <%= f.submit Idea::SAVE_IDEA_STRING, :id => "save_button", class: "btn btn-blue next-step-button" %>
    </div>
  </div>
</section>

<% end %>
