<section id="new-proj-page">
<%= form_for @idea, :html => {:multipart => true} do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <div>

    <% unless params[:all] %>

      <%= f.hidden_field :current_step, value: @idea.current_step %>

      <%= render "ideas/idea_steps/page#{@idea.current_step + 1}", f: f %>

    <% else %>

      <%# all the fields on one page... %>
      <%= hidden_field_tag :all, 1 %>
      <%= render "ideas/idea_steps/page1", f: f %>

      <% if @idea.check_status(@idea.status , Idea::COMUNIDEIA_EM_FINANCIAMENTO) %>
        <%= render "ideas/idea_steps/page2", f: f %>
      <% elsif @idea.check_status(@idea.status , Idea::COMUNIDEIA_EM_ACAO) %>
        <%= render "ideas/idea_steps/page3", f: f %>
      <% end %>

    <% end %>


  </div>
  
  <div class="body wrapper">
    <div id="terms-of-service">
      
    <% if @idea.current_step == 0 %>
      <%= f.submit Idea::SAVE_IDEA_STRING, :id => "save_button", class: "btn btn-blue next-step-button" %>
    <% else %>
      <!--div class="checkxborder checkxborder-terms">
        <%#= f.check_box :terms_of_use, checked: false, class: "css-checkbox-terms", id: "terms_of_use",  onclick: "set_checkbox_classes('help-item_7');toggle_checkbox_and_element('terms_of_use', 'save_button');" %>
        <%#= f.label Idea::TERMS_OF_USE_STRING, class: "css-label lite-red-check", for: "terms_of_use" %>
      </div-->
      <%= f.submit Idea::CONCLUDE_IDEA_STRING, :id => "save_button", class: "btn btn-blue next-step-button" %>
    <% end %>
          

      <% unless @idea.id.blank? %>
        <script> toggle_checkbox_and_element('terms_of_use', 'save_button'); </script>
      <% end %>


    </div>
  </div>
</section>

<% end %>

<br><br><br><br><br><br><br><br>