
<!--section class="teste3"-->
  <!--article class="teste33">
    <header class="header">
      <div class="teste331">
            <div class="teste332"><div class="teste333"></div></div>
      </div>
      </header>
      </article-->
      <!--/section-->


<% financial_value_percentage = (thumbnail.financial_value_sum_accumulated/thumbnail.financial_value*100).to_i %>

<% investment_metter_complement_percentage = 100 - financial_value_percentage %>

<article class="project-item">
  <header class="header">
    <a href= <%= url_for :controller => :ideas, :action => :show, :id=> thumbnail.id %> >
      <img src=<%=thumbnail.img_card%> alt=<%= thumbnail.name %> class="thumb" width="220" height="280">
    </a>
    <div class="project-data">

      <% if thumbnail.check_status(thumbnail.status , Idea::COMUNIDEIA_EM_FINANCIAMENTO) %>
        <p class="info time-info">
          <%= render 'ideas/thumbnail_status', :object => thumbnail %>
        </p>
      <% end %>

      <% if !thumbnail.local.nil? %>
        <p class="info location-info"><span class="icon i-location"></span><%= thumbnail.local %></p>
      <% end %>

      <% if thumbnail.check_status(thumbnail.status , Idea::COMUNIDEIA_EM_FINANCIAMENTO) %>

        <% if !thumbnail.financial_value.nil? %>
          <div class="investment-metter"></div>
          <% if (investment_metter_complement_percentage > 0) && (investment_metter_complement_percentage < 100) %>
            <div class="investment-metter-complement" style="width: <%= investment_metter_complement_percentage %>%;

  border-left: 6px solid transparent;

            "></div>
          <% else %>
            <div class="investment-metter-complement" style="width: <%= investment_metter_complement_percentage %>%;

  border-left: 1px solid transparent;

            "></div>
          <% end %>
          <p class="info investment-info">
            <span class="bold">R$<%= thumbnail.financial_value - thumbnail.financial_value_sum_accumulated %></span>&nbsp;restante (<%= financial_value_percentage %>%)<br>
            <span class="total left">total R$<%= thumbnail.financial_value %></span>
            <span class="achieved right">R$<%= thumbnail.financial_value_sum_accumulated %> alcançado</span>
          </p>
        <% end %>

      <% elsif thumbnail.check_status(thumbnail.status , Idea::COMUNIDEIA_EM_ACAO) %>

<!--TODO
        <p class="info request-info">
          <span class="tag">logotipo</span>
          <span class="tag">vídeo</span>
          <span class="tag">papelaria</span>
          <span class="tag">slogan</span>
          <span class="tag">aplicativo</span>
          <span class="tag more">...</span>
        </p-->

      <% end %>

    </div>
  </header>
  <h3 class="title"><%= thumbnail.name %></h3>
  <p class="body text"><%= thumbnail.summary %></p>
  <footer class="footer">
    <!--div class="left share-links">
      <a href="#" class="icon i-email"></a>
      <a href="#" class="icon i-facebook"></a>
      <a href="#" class="icon i-twitter"></a>
    </div-->
    <a href=<%= url_for :controller => :ideas, :action => :show, :id=> thumbnail.id %> class="link right">VER PROJETO</a>
  </footer>
</article>




