<h1><%= @idea.name %></h1>
<p><%= @idea.summary %></p>
<p><%= link_to "Investir", investment_path %></p>
<p>Local: <%= @idea.local %></p>


<% reached_financial_value = (thumbnail.financial_value_sum_accumulated < thumbnail.financial_value) %>

<% remainder_time = ((thumbnail.date_end - thumbnail.date_start)/1.hour).ceil %>
<% if remainder_time < 24 %>
	<% if remainder_time > 0 %>
		<%= remainder_time %>	horas restantes <br>
	<% else %>
		<% if reached_financial_value %>
			Não financiado <br>
		<% else %> <br>
			Financiado <br>
		<% end%>
	<% end %>
<% else %>
	<% remainder_time = (thumbnail.date_end.to_date - thumbnail.date_start.to_date).to_i %>
	<%= remainder_time %>	dias restantes <br>
<% end %>

<h3><%= thumbnail.name %></h3>
<div style="max-width:200px; word-wrap:break-word;"><%= thumbnail.summary %></div>
<br>
Local: <%= thumbnail.local %>
<br>

$ <%= @idea.financial_value %> | $! <%= @idea.financial_value_sum_accumulated %>
<p>Card: <%= link_to @idea.img_card, @idea.img_card %></p>
<p>Video: <%= link_to @idea.video, @idea.video %></p>

<p><%= raw(youtube_embed(@idea.video)) %></p>

<img src=<%=@idea.img_pg_1%>  width="640" height="390"/><br>

<p>Img_1: <%= link_to @idea.img_pg_1, @idea.img_pg_1 %></p>
<p>Img_2: <%= link_to @idea.img_pg_2, @idea.img_pg_2 %></p>
<p>Img_3: <%= link_to @idea.img_pg_3, @idea.img_pg_3 %></p>
<p>Img_4: <%= link_to @idea.img_pg_4, @idea.img_pg_4 %></p>
<p>Descricao da ideia: <%= @idea.idea_content %></p>
<p>Riscos e desafios: <%= @idea.risks_challenges %></p>
<!--<p>Data inicial: <%#= @idea.date_start %></p>-->
<!--<p>Data final: <%#= @idea.date_end %></p>-->

<span>
Criado <%= time_ago_in_words(@idea.created_at) %> atrás.
</span>

<br><br><br>
<%= render 'recompenses/show' %>
<br>