<h1><%= @idea.name %></h1>
<p><%= @idea.summary %></p>
<p><%= link_to "Investir", donation_path %></p>
<p>Local: <%= @idea.local %></p>
$ <%= @idea.financial_value %> | $! <%= @idea.financial_value_sum_accumulated %>
<p>Card: <%= link_to @idea.img_card, @idea.img_card %></p>
<p>Video: <%= link_to @idea.video, @idea.video %></p>

<p><%= raw(youtube_embed(@idea.video)) %></p>

<img src=<%=@idea.img_pg_1%>  width="640" height="390"/><br>

<p>Img_1: <%= link_to @idea.img_pg_1, @idea.img_pg_1 %></p>
<p>Img_2: <%= link_to @idea.img_pg_2, @idea.img_pg_2 %></p>
<p>Img_3: <%= link_to @idea.img_pg_3, @idea.img_pg_3 %></p>
<p>Img_4: <%= link_to @idea.img_pg_4, @idea.img_pg_4 %></p>
<p>Descricao da ideia: <%= @idea.idea_content %></p>
<p>Riscos e desafios: <%= @idea.risks_challenges %></p>
<!--<p>Data inicial: <%#= @idea.date_start %></p>-->
<!--<p>Data final: <%#= @idea.date_end %></p>-->

<span>
Criado <%= time_ago_in_words(@idea.created_at) %> atrás.
</span>

<br><br><br>
<%= render 'recompenses/show' %>
<br>