<%# financial_value_percentage = 5 %>
<% financial_value_percentage = (@idea.financial_value_sum_accumulated/@idea.financial_value*100).to_i %>

<% investment_metter_complement_percentage = 100 - financial_value_percentage %>


<%# time_percentage = 30 %>
<% time_complement_percentage = ((((@idea.date_end - DateTime.now)/1.hour).ceil*100)/((@idea.date_end - @idea.created_at)/1.hour).ceil) %>

<section id="project-details" ng-controller="projectSingleCtrl">
  <header class="header wrapper">
    <% if !@idea.img_pgs[0].nil? && !@idea.img_pgs[0].blank? %>
      <img src=<%= @idea.img_pgs[0] %> alt="" class="image project-banner" width="940" height="372">
    <% end %>
    <div>
      <div class="main-info">
        <img src="/assets/proj-icon.png" alt="" class="proj-icon">
        <h1 class="project-name"><%= @idea.name %></h1>
        <div class="author-info">
          por <span class="author-name"><%= @idea.user.name %></span>
					<% if !@idea.local.nil? %>
           - <span class="author-locality"><%= @idea.local %></span>
          <% end %>
        </div>
      </div>
      <div class="social-action-buttons"></div>
    </div>
    <div id="project-details-info">
      <div id="project-values-info-bars">
      
        <div class="proj-data-metter" id="project-remaining-time">
          <span class="text">TEMPO RESTANTE</span>
        </div>
        <% if (time_complement_percentage > 0) && (time_complement_percentage < 100) %>
          <div class="proj-data-metter-complement" style="width: <%= time_complement_percentage %>%;

  border-left: 6px solid transparent;

          "></div>
        <% elsif (time_complement_percentage > 99) %>
          <div class="proj-data-metter-complement" style="width: 99.5%;

  border-left: 0px solid transparent;

          "></div>
        <% end %>
        </div>

      <div id="project-values-info-bars">
        <div class="proj-data-metter" id="project-achieved-resources">
          <span class="text">RECURSOS RESTANTE</span>
        </div>
        <% if (investment_metter_complement_percentage > 0) && (investment_metter_complement_percentage < 100) %>
          <div class="proj-data-metter-complement" style="width: <%= investment_metter_complement_percentage %>%;

  border-left: 6px solid transparent;

          "></div>
        <% elsif (investment_metter_complement_percentage > 99) %>
          <div class="proj-data-metter-complement" style="width: 99.5%;

  border-left: 0px solid transparent;

          "></div>
        <% end %>
        </div>

    </div>
    <div id="project-values-info">
	    <% if !@idea.financial_value.nil? %>
	      <div class="v-info"><span class="value">R$ <%= number_with_delimiter(@idea.financial_value.to_i, delimiter: ".") %></span><span class="sub-text">total</span></div>
	      <div class="v-info"><span class="value green">R$ <%= number_with_delimiter(@idea.financial_value_sum_accumulated.to_i, delimiter: ".") %></span><span class="sub-text">alcançados</span></div>
        <% if (@idea.financial_value_sum_accumulated < @idea.financial_value) %>
          <div class="v-info"><span class="value gray">R$ <%= number_with_delimiter(@idea.financial_value.to_i - @idea.financial_value_sum_accumulated.to_i, delimiter: ".") %></span>
        <% else %>
          <div class="v-info"><span class="value gray">R$ 0.00 </span>
        <% end %>
        <span class="sub-text">restantes</span></div>
	      <div class="v-info">
	      	<%= render 'ideas/idea_status', :object => @idea %>
	      </div>
			<% end %>
    </div>
  </header>
  <section class="body wrapper">
    <div id="project-tabs">
      <header class="tab-items-header">
        <div class="tab-item bold tab-item-others" ng-class="{current: currentTab == 0}" ng-click="currentTab = 0">Projeto</div>
        <!--TODO
        <div class="tab-item" ng-class="{current: currentTab == 1}" ng-click="currentTab = 1">Atualizações (7)</div-->
        <div class="tab-item tab-item-others" ng-class="{current: currentTab == 2}" ng-click="currentTab = 2">Apoiadores (142)</div>
      </header>
      <section class="tab-items-body">
        <article id="proj-info-tab" class="tab-item tab-item-others" ng-class="{current: currentTab == 0}">
          <h2 class="title"><%= @idea.name %></h2>

						<% if !@idea.video.nil? && !@idea.video.blank? %>
							<p><%= raw(youtube_embed(@idea.video)) %></p>
							<br><br>
						<% end %>

            <% for i in 0 ... @idea_content_paragraphs.count %>
            	<% if !@idea_content_paragraphs[i].nil? %>
	            	<p>
	            		<%= @idea_content_paragraphs[i] %>
	            	</p>
                <% if !@idea.img_pgs[i].nil? && !@idea.img_pgs[i].blank? %>
                  <br><br>
                  <img src=<%= @idea.img_pgs[i] %>  width="640" height="390"/><br>
                  <br><br>
                <% end %>
	            	<br>
							<% end %>
            <% end %>

        </article>
        <aside id="project-comment-sidebar" ng-if="currentTab == 0">
        </aside>
        <!--TODO
        <article class="tab-item tab-item-others" ng-class="{current: currentTab == 1}" >
          <article class="project-news">
            <h2 class="title">Novidades do Projeto #3</h2>
            <h3 class="date">21/13/2014</h3>
            <p class="text">Produzimos conteúdo em um canal do You Tube que é dedicado a pessoas que gostam de contos de terror, lendas urbanas, histórias e mitos do gênero no geral.<br>
            Com 100% do conteúdo produzidos com uso de software de devidamente legalizados, o canal apresenta gratuitamente ao público de todas as idades histórias e contos de terror narradas oralmente que são apresentadas por personagens 3D. É o priemiro canal do mundo a oferecer esse tipo de conteúdo com uso de personagem 3D.</p>
          </article>
          <article class="project-news">
            <h2 class="title">Novidades do Projeto #2</h2>
            <h3 class="date">21/13/2014</h3>
            <p class="text">Produzimos conteúdo em um canal do You Tube que é dedicado a pessoas que gostam de contos de terror, lendas urbanas, histórias e mitos do gênero no geral.<br>
            Com 100% do conteúdo produzidos com uso de software de devidamente legalizados, o canal apresenta gratuitamente ao público de todas as idades histórias e contos de terror narradas oralmente que são apresentadas por personagens 3D. É o priemiro canal do mundo a oferecer esse tipo de conteúdo com uso de personagem 3D.</p>
          </article>
          <article class="project-news">
            <h2 class="title">Novidades do Projeto #1</h2>
            <h3 class="date">21/13/2014</h3>
            <p class="text">Produzimos conteúdo em um canal do You Tube que é dedicado a pessoas que gostam de contos de terror, lendas urbanas, histórias e mitos do gênero no geral.<br>
            Com 100% do conteúdo produzidos com uso de software de devidamente legalizados, o canal apresenta gratuitamente ao público de todas as idades histórias e contos de terror narradas oralmente que são apresentadas por personagens 3D. É o priemiro canal do mundo a oferecer esse tipo de conteúdo com uso de personagem 3D.</p>
          </article>
        </article-->
        <article class="tab-item tab-item-others" ng-class="{current: currentTab == 2}" >
        <% for i in 0 ... 12 %>
          <div class="investor">
            <img src="assets/images/investors/face-1.jpg" alt="" class="image">
            <h2 class="name">Lise Tyler</h2>
            <p class="line">Investiu R4 250,00</p>
            <p class="line">em 10/03/13 às 12:30:21</p>
            <p class="line">Apoiou 7 projetos até agora</p>
          </div>
        <% end %>
        </article>
      </section>
    </div>
  </section>

	<% if @is_financial_idea %>

    <%
      value_total     = @idea.financial_value
      value_funded    = @idea.financial_value_sum_accumulated
      value_remain    = 0
      funded_percent  = 100
    %>

    <% if @idea.financial_value_sum_accumulated < @idea.financial_value %>
  	  <%
  	    value_remain    = value_total - value_funded
  	    funded_percent  = (value_funded / value_total) * 100
  	  %>
    <% end %>

	  <script>
	    window.v = {};
	    window.v.valueTotal     = <%= value_total %>;
	    window.v.valueFunded    = <%= value_funded %>;
	    window.v.valueRemain    = <%= value_remain %>;
	    window.v.fundedPercent  = <%= funded_percent %>;
	  </script>
	  <footer id="project-pledge-area" class="footer wrapper">
	    <div id="pledge-value-component">
	      <h2 class="title">e aí, curtiu? então dá uma força!</h2>
	      
				<%= render 'investments/investment_fields',
					:funded_percent => funded_percent,
					:value_funded => value_funded,
					:value_remain => value_remain  %>

	    </div>
	    <div id="predef-pledge-list">
	      
			<%= render 'recompenses/show_radio' %>

	    </div>
	  </footer>


	<% end %>

</section>

<!-- chamar comunidea_investors apenas pra renderizar a aba de investidores

investors: <%#= render partial: 'users/user', collection: @idea_investors %>

-->
 

<!-- chamar comunidea_investors apenas pra renderizar a aba de investidores
<br><br><br>
investors: <%#= render partial: 'users/user', collection: @idea_investors %>
<br><br><br>
-->

<div id='address' hidden=true><%= @tab_address %></div>

<% if !@tab_address.nil? %>
	<script>open_tab();</script>	
<% end %>

<br><br>
<% if current_user?(@idea_user) %>
	<p><%= link_to "Editar", edit_idea_path(@idea, all: 1) %></p>
<% end %>
