<%= form_for @investment, :url => url_for(:controller => 'investments', :action => 'new') do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

	<%#= f.label Investment::INVESTMENT_VALUE_STRING %>
  <%#= f.text_field :financial_value, :value => @fin_value_input,
  			:id => :financial_value_input,
  			:onKeyUp => "updateFinancialValues();"
  		%>

  <%= f.hidden_field :recompense_id, :value => @investment.recompense_id, :id => :recompense_id_radio  %>


  <div>
    <div id="pledge-metter">
      <span class="full-value"></span>
      <div class="funded" style="width: <%= funded_percent %>%;">
        <span class="value">R$ <%= value_funded %></span>
      </div>
      <div class="to-fund">
        <span class="value">R$ <%= value_remain %></span>
      </div>
      <div class="fund-mark" style="left: <%= funded_percent %>%;"><span class="inner"></span></div>
      <div id="fund-quantity-component" style="left: <%= funded_percent %>%;">
        <span class="up-arrow"></span>
        <span class="currency-indicator">R$</span>
        <input  name="investment[financial_value]" type="text" class="value-input" ng-model="pledgedValue" ng-change="onPledgeValueChange()">
      </div>
      <button id="send-pledge-button" class="btn btn-blue">APOIAR</button>
    </div>
  </div>

  <%= f.submit Investment::INVEST_STRING %>
<% end %>
