<div>
<% if @idea.recompenses.any? %>
  <h3>Recompensas (<%= @idea.recompenses.count %>)</h3>
  <ol>
  <% for recompense in @idea.recompenses %>
    <li>
    <%#= link_to recompense.title, investment_path %>
    <p><%= recompense.title %></p>
    <p><%= recompense.summary %></p>
    <p>$<%= recompense.financial_value %></p>
    <p><%= pluralize(recompense.quantity.to_i, "investimento") %></p>
    <p><%= recompense.investments.count %>/<%= recompense.quantity.to_i %></p>
    <p><%= recompense.date_delivery.to_date.strftime("%B, %Y") %></p>
    </li>
  <% end %>
  </ol>
<% end %>
</div>
<br><br>