<div>
<% if @idea.recompenses.any? %>
  <h3>Recompensas (<%= @idea.recompenses.count %>)</h3>
  <ol>
  <% for recompense in @idea.recompenses %>
    <li>
    <% isAltruistic = recompense == @idea.recompenses.first %>

    <%#= link_to recompense.title, investment_path %>
    <p><%= recompense.title %></p>
    <p><%= recompense.summary %></p>
    <% if !isAltruistic %>
      <p>$<%= recompense.financial_value %></p>
    <% end %>

    <p><%= pluralize(recompense.investments.count, Investment::INVESTMENT_STRING) %></p>
    <% if !isAltruistic %>
      <p><%= recompense.investments.count %>/<%= recompense.quantity.to_i %></p>
      <p><%= recompense.date_delivery.to_date.strftime("%B, %Y") %></p>
    <% end %>

    </li>
  <% end %>
  </ol>
<% end %>
</div>
<br><br>