<ul>
  <% for recompense in @recompenses %>
    <li>
      <% isAltruistic = recompense == @recompenses.first %>
      
      <% if isAltruistic %>
        <script>setAltruisticDocElement( <%= Recompense::RECOMPENSE_ID_PREFIX.to_s + recompense.id.to_s %> );
        </script>
      <% end %>
      
      <% recompensesAvailable = isAltruistic || (recompense.investments.count < recompense.quantity.to_i) %>
      <%= radio_button_tag "recompense_ids[]", recompense.id, false,
      :checked => (recompensesAvailable && (recompense.id == @recompense.id) ),
      :disabled => !recompensesAvailable,
      :onclick => (isAltruistic ? 
        "setRecompenseId(" + recompense.id.to_s + ");"
         : 
        "recompenseFinancialValue(" + recompense.financial_value.to_s + ");
        setRecompenseId(" + recompense.id.to_s + ");") %>
      <%= recompense.title %>
      <p><%= recompense.summary %></p>
      <br>$<a id=<%= Recompense::RECOMPENSE_ID_PREFIX.to_s + recompense.id.to_s %> ><%= recompense.financial_value %></a>
      <p><%= pluralize(recompense.investments.count, Investment::INVESTMENT_STRING) %></p>
      <% if !isAltruistic %>
        <p><%= recompense.investments.count %>/<%= recompense.quantity.to_i %></p>
      <% end %>
    </li>
  <% end %>
</ul>
