<ul>
  <% for recompense in @recompenses %>
    <li>
      <% recompensesAvailable = (recompense.investments.count < recompense.quantity.to_i) %>
      <%= radio_button_tag "recompense_ids[]", recompense.id, false,
      :checked => (recompensesAvailable && (recompense == @recompenses.first)),
      :disabled => !recompensesAvailable,
      :onclick => "recompenseFinancialValue(" + recompense.financial_value.to_s + ");
        setRecompenseId(" + recompense.id.to_s + ");"%>
      <%= recompense.title %>
      <p><%= recompense.summary %></p>
      <p>$<%= recompense.financial_value %></p>
      <p><%= pluralize(recompense.quantity.to_i, Investment::INVESTMENT_STRING) %></p>
      <p><%= recompense.investments.count %>/<%= recompense.quantity.to_i %></p>
    </li>
  <% end %>
  <!--<li>
    <%#= radio_button_tag "recompense_ids[]", -1, false,
      :onclick => "setRecompenseId(-1);"%>
    Investir sem recompensas.
    <p>Quero ver o projeto realizado e nao e necessario receber para incentivar!</p>
    </li>
  -->
</ul>

<script type="text/javascript">
  function recompenseFinancialValue(financialValue) {
    document.getElementById('financial_value_input').value = financialValue;
  }

  function setRecompenseId(recompenseId) {
    document.getElementById('recompense_id_radio').value = recompenseId;
  }
</script>