<nav style="background-color:#284f77;" >
        <ul>
          <li><%= link_to "Idéias",    ideas_path %></li>
          <% if signed_in? %>
            <li>
              <li><%= link_to current_user.name, current_user %></li>
              <% if current_user.admin? %><br>
                <li><%= link_to "Usuários", users_path %></li>
                <li><%= link_to "Autorizar Flickr uploads", get_token_oauth_path %></li><br>
              <% end %>
              <li><%= link_to "Configurações", edit_user_path(current_user) %></li>
              <!--<li><%#= link_to "Configurações", '#' %></li>-->
              <li><%= link_to "Sign out",  signout_path, method: "delete" %></li>
            </li>
          <% else %>
            <%= link_to "Login com Facebook", "/auth/facebook" %><br>
            <%= link_to "Login com g+", "/auth/google_oauth2" %>
            <%= form_for(:session, url: sessions_path) do |f| %>

              <%= f.text_field :email, placeholder:  User::EMAIL %>

              <%= f.password_field :password, placeholder: User::PASSWORD %>

              <%= f.submit User::ENTER_STRING %>

  
              
            <% end %>
          <% end %>
        </ul>
      </nav>

<% unless flash.empty? %>
  <div class="flash-container">
    <% flash.each do |key, value| %>
      <div><%= value %></div>
    <% end %>
  </div>
<% end %>

<header class="main-header">
    <div class="top-header">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav nav-nohover">
                    <li class="active">
                        <a href= <%= random_idea_path %> 
                         class='text-uppercase'>
                            <i class="icon-sprite-random"></i>ir para um projeto aleatório
                        </a>
                    </li>
                </ul>
                <div class="navbar-collapse navbar-right">
                    <ul class="nav navbar-nav top-navbar">
                        <li class="active">
                            <a href="#help" class='text-italic text-help'>Ajuda</a>
                        </li>
                        <li><a href="#login">Login</a></li>
                        <li><a href= <%= signup_path %> >Cadastro</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="container">
            <div class="navbar-header col-sm-5 col-md-4">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand logo" href= <%= root_path %> >
                  <%= image_tag("common/logo-comunideia.png", alt: "Comunideia - idéias do bem para o bem") %>
              </a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 nopadding">
                <div class="col-md-5 col-sm-5 col-xs-6 top-box first">
                    <a href="#o-que-e">
                        O que é <br /><strong> Comunideia? </strong>
                    </a>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-6 top-box last">
                    <a href="#investir">Investir</a> <br />
                    <a href="#comunideia-em-acao">Comunideia em Ação</a>
                </div>
            </div>
        </div>
    </div>
</header>