<!--modal-->
<% if signed_in? %>
<% else %>
  <% @user = params.has_key?(:user) ? User.new(user_params).start : User.new.start %>
  <div id="login-signup-modal" ng-controller="accountActionModalCtrl">
    <div class="container">
      <header class="tab-items-header">
        <a class="close-button" ng-click="disposeModal()">x</a>
        <div class="tab-item tab-item-others" ng-class="{current: currentTab == 0}" ng-click="currentTab = 0">Login</div>
        <div class="tab-item tab-item-others" ng-class="{current: currentTab == 1}" ng-click="currentTab = 1">Cadastro</div>
      </header>
      <section class="tab-items-body">
        <article id="proj-info-tab" class="tab-item" ng-class="{current: currentTab == 0}">

          <%= form_for(:session, url: sessions_path) do |f| %>

            <div class="form-item">
              <label>
                <span class="text">
                  <%= "#{User::EMAIL}*" %>
                </span>
                <%= f.text_field :email, type:"email", class: "text-input" %>
              </label>
            </div>

            <div class="form-item">
              <label>
                <span class="text">
                  <%= "#{User::PASSWORD}*" %>
                </span>
                <%= f.password_field :password, type:"password", class: "text-input" %>
              </label>
            </div>

            <div class="form-item">
              <%= f.submit User::ENTER_STRING, class: "link right bold" %>
            </div>
            <br>

          <% end %>

          <!--TODO
          <div class="form-item">
            <a href="" class="link left">Esqueci minha senha</a>
            <a href="" class="link right bold">ENTRAR</a>
          </div>
          -->
          <div>
            <a href="/auth/facebook" >
              <button class="social-login-button facebook" onclick="show_facebook_login_confirmation()"><span class="icon i-facebook-big"></span><span class="text">Logar com o Facebook</span></button>
            </a>
            <a href="/auth/google_oauth2" >
              <button class="social-login-button gplus" onclick="show_google_plus_login_confirmation()"><span class="icon i-gplus-big"></span><span class="text">Logar com o Google+</span></button>
            </a>
          </div>
        </article>
        <article id="proj-info-tab" class="tab-item" ng-class="{current: currentTab == 1}">



          <%= form_for(@user, :url => url_for(:controller => 'users', :action => 'create'), :method => 'post') do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <%= render 'users/form_essencial', object: f, email_disabled: !@user.step1? %>

            <div class="form-item">
              <label>
                <span class="text">
                  <%= "#{User::PASSWORD}*" %>
                </span>
                <%= f.password_field :password, type:"password", class: "text-input" %>
              </label>
            </div>

            <div class="form-item">
              <label>
                <span class="text">
                  <%= "#{User::PASSWORD_CONFIRMATION}*" %>
                </span>
                <%= f.password_field :password_confirmation, type:"password", class: "text-input" %>
              </label>
            </div>






            <div class="checkxborder checkxborder-signup">
              <%= f.check_box :notifications, checked: false, class: "css-checkbox", id: "checkbox_1",  onclick: "set_checkbox_classes('help-item_1');" %>

              <%= f.label User::NOTIFICATIONS_AND_UPDATES, class: "css-label lite-red-check checkxborder-label-signup", for: "checkbox_1" %>
            </div>

            <div class="form-item">
              <%= f.submit User::SIGNUP_STRING, class: "link right bold" %>
            </div>


          <% end %>



        </article>
      </section>
    </div>
  </div>
<% end %>
