<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "normalize" %>
    <%= stylesheet_link_tag "style" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/prototype/1.7.1.0/prototype.js" %>
    <%#= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" %>
    <%#= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" %>
    
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div>
      <% flash.each do |key, value| %>
        <div><%= value %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= render 'layouts/modal' %>
      <%= params if Rails.env.development? %>
    </div>

    <%= javascript_include_tag "angular.min" %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <%= javascript_include_tag "main" %>
  </body>
</html>